{% comment %}
  Renders a collection item (Block)

  Accepts:
  - collection: {Object} Collection info,

  Usage:
  {% render 'benefit-block', collection: {...} %}
{% endcomment %}

<li block="collection">
  <div class="media">
    <img
      src="{{ img }}"
      alt="category"
      height="100%"
      width="100%"
    >
  </div>
  <div class="content">
    <div class="text">
      <h4 class="title">{{ title }}</h4>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, est!</p>
    </div>
    <a href="#" class="action">View collection</a>
  </div>
</li>
