{% comment %}
  Renders a product content (title, description, price...)

  Accepts:
  - product: {Object} Product info,

  Usage:
  {% render 'pd-content-block', product: {...} %}
{% endcomment %}

{% assign info = 'Description|Elevate your dining experience with the Nordic Dining Chair, a perfect blend of timeless design and modern craftsmanship. Made from solid oak, this chair showcases the natural beauty of the wood with its smooth grain and warm finish. The ergonomic design ensures comfort for long meals and gatherings, while its minimalist silhouette complements any interior style.;Dimensions|Materials: Solid oak Finish: Natural matte Dimensions: W: 45 cm D: 50 cm H: 85 cm Seat Height: 47 cm Weight: 6 kg;Shipping a Returns|We ship your furniture securely within 14 business days. Delivery times vary by location, and tracking details are provided upon dispatch. International orders may incur customs fees.' %}

<div block="pd-content">
  <div class="general-info">
    <div class="price">
      <span class="original-price">549 MAD</span>
      {% comment %} <div class="compare-at-price"></div> {% endcomment %}
    </div>
    <div class="about">
      <h1 class="title">Embossed backpack</h1>
      <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, architecto.</p>
    </div>
    <div class="variants">
      {% render 'ui-variant' %}
    </div>
    <div class="cta">
      <div class="quantity">
        <button ui-button data-variant="secondary" data-size="md" as-icon aria-label="minus" disabled>
          {% render 'ui-icon', name: 'remove' %}
        </button>
        <span class="value">1</span>
        <button ui-button data-variant="secondary" data-size="md" as-icon aria-label="plus">
          {% render 'ui-icon', name: 'add' %}
        </button>
      </div>
      <button ui-button data-variant="primary" data-size="md" class="add-to-cart">Add to cart</button>
    </div>
  </div>
  {% render 'ui-accordion', name: 'faq', items: info %}
  <ul class="social-info">
    {% render 'social-block', type: 'facebook', href: 'https://www.facebook.com', target_arrow: true %}
    {% render 'social-block', type: 'instagram', href: 'https://www.facebook.com', target_arrow: true %}
    {% render 'social-block', type: 'tiktok', href: 'https://www.facebook.com', target_arrow: true %}
    {% render 'social-block', type: 'x', href: 'https://www.facebook.com', target_arrow: true %}
  </ul>
</div>
