{% comment %}
  Renders a product media (images)

  Accepts:
  - images: {Array} Product images,

  Usage:
  {% render 'pd-media-block', images: [...] %}
{% endcomment %}

<div block="pd-media">
  <div class="images">
    <img
      src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/D3ZXxSPPWFqnmAqkpZCX8TEflayHPydxLMUEMxWn.jpg"
      alt="product"
      height="100%"
      width="100%"
    >
    <img
      src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/XDIRXrNbH0IWqxHjUQB6OIyeSVy7LD23M6GrcDDS.jpg"
      alt="product"
      height="100%"
      width="100%"
    >
    <img
      src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/FEW5kx6LGNBKKUhpPwCqTYjrY5ciQmUnLEnpwZ8J.jpg"
      alt="product"
      height="100%"
      width="100%"
    >
  </div>
  <div class="controller">
    <div class="controller-wrapper">
      <button aria-label="product" aria-selected="true">
        <img
          src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/D3ZXxSPPWFqnmAqkpZCX8TEflayHPydxLMUEMxWn.jpg"
          alt="product"
          height="100%"
          width="100%"
        >
      </button>
      <button aria-label="product" aria-selected="false">
        <img
          src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/XDIRXrNbH0IWqxHjUQB6OIyeSVy7LD23M6GrcDDS.jpg"
          alt="product"
          height="100%"
          width="100%"
        >
      </button>
      <button aria-label="product" aria-selected="false">
        <img
          src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/FEW5kx6LGNBKKUhpPwCqTYjrY5ciQmUnLEnpwZ8J.jpg"
          alt="product"
          height="100%"
          width="100%"
        >
      </button>
    </div>
  </div>
</div>
