{% comment %}
  Renders a product card (Block)

  Accepts:
  - product: {Object} Product info,

  Usage:
  {% render 'product-block', product: {...} %}
{% endcomment %}

<li block="product">
  <a href="#">
    <img
      src="{{ img }}"
      alt="product"
      height="100%"
      width="100%"
    >
    <div class="price">
      <span class="original-price">450 MAD</span>
      {% if compare_at_price %}
        <span class="compare-at-price">600 MAD</span>
      {% endif %}
    </div>
    {% if badge %}
      <div class="badge">
        <span>50% OFF</span>
      </div>
    {% endif %}
    <div class="info">
      <p class="title">{{ title }}</p>
      <span class="action">View</span>
    </div>
  </a>
</li>
