<div ui-action-bar>
  <div ui-toolbar="floating" data-alignment="spread" data-type="vibrant" aria-orientation="horizontal" role="toolbar">
    <div class="price">
      <span>$15.00</span>
    </div>
    <button ui-button="filled" size="sm" data-rounded="true">
      {% render 'ui-icon', name: 'add' %}
      Add to cart
    </button>
  </div>
</div>
