{% comment %}
  Renders an empty state

  Accepts:
  - content: {String} component content

  Usage:
  {% render 'ui-empty', content: '...' %}
{% endcomment %}

<div ui-empty>
  <span>{{ content }}</span>
</div>
