{% comment %}
  Renders an icon (Material Icons)

  Accepts:
  - fields: {Array} Checkout fields

  Usage:
  {% render 'ui-express-checkout', name: [...] %}
{% endcomment %}

<ui-express-checkout>
  <label ui-express-checkout-field>
    <span ui-express-checkout-label>Full name</span>
    <input type="text" placeholder="e.g. John Doe" required>
  </label>
  <label ui-express-checkout-field>
    <span ui-express-checkout-label>Phone number</span>
    <input type="text" placeholder="+212 000 000 000" required>
  </label>
  <label ui-express-checkout-field>
    <span ui-express-checkout-label>Email</span>
    <input type="email" placeholder="example@gmail.com" required>
  </label>
</ui-express-checkout>
