{% comment %}
  Renders a variant label + options

  Usage:
  {% render 'ui-variant'  %}
{% endcomment %}

<ui-variant>
  <label ui-variant-label>Color</label>
  <div ui-variant-options>
    <label ui-variant-opt>
      Red
      <input type="radio" name="size" value="red">
    </label>
    <label ui-variant-opt>
      Blue
      <input type="radio" name="size" value="blue">
    </label>
    <label ui-variant-opt>
      Yellow
      <input type="radio" name="size" value="yellow">
    </label>
    <label ui-variant-opt>
      Green
      <input type="radio" name="size" value="green">
    </label>
  </div>
</ui-variant>
