<div section="about-us">
  <div class="section-head">
    <h2>About Us</h2>
  </div>
  <ul class="section-core">
    <div class="content">
      <h2 class="title">Designing Spaces, Inspiring Connection</h2>
      <div class="text">
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur possimus non ipsa esse iure ratione aperiam consectetur doloremque
          accusantium necessitatibus.
        </p>
        <a href="#" class="action">More about us</a>
      </div>
    </div>
    <div class="media">
      <img
        src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/categories/0P0iEm0M4bJNzPr9Kifv68XHYsr6O49XIhfDwiSE.jpg"
        alt="about us"
        height="100%"
        width="100%"
      >
    </div>
  </ul>
</div>

{% schema %}
{
  "label": "About Us"
}
{% endschema %}
