<div layout="announcement-bar" theme="{{ section.settings.theme }}">
  <div class="marquee-container">
    <div class="marquee">
      {% for _ in (1..2) %}
        <ul class="bar-wrapper">
          {% for _ in (1..3) %}
            <li>
              <span class="content"> {{ section.settings.content }} </span>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "label": "Announcement bar",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": "Save 20% on your first order"
    },
    {
      "type": "select",
      "id": "theme",
      "label": "Theme",
      "options": [
        {
          "value": "primary-low",
          "label": "Primary (low contrast)"
        },
        {
          "value": "primary-high",
          "label": "Primary (high contrast)"
        },
        {
          "value": "neutral",
          "label": "Neutral"
        }
      ],
      "default": "primary-low"
    }
  ]
}
{% endschema %}
