<div section="collections">
  <div class="section-head">
    <h2>Collections</h2>
  </div>
  <ul class="section-core">
    {% render 'collection-block' %}
    {% render 'collection-block' %}
    {% render 'collection-block' %}
  </ul>
</div>

{% schema %}
{
  "label": "Collections"
}
{% endschema %}
