<div section="collections" theme="{{ section.settings.theme }}">
  <div class="section-head">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <ul class="section-core">
    {% for block in section.blocks %}
      {% render 'collection-block',
        collection: block.settings.collection,
        action: block.settings.button_text,
        youcan_attributes: block.youcan_attributes
      %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "t:sections.collections.label",
  "templates": ["index", "product"],
  "limit": 3,
  "max_blocks": 3,
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:common.content.title",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "theme",
      "label": "Theme",
      "options": [
        {
          "value": "primary-low",
          "label": "Primary (low contrast)"
        },
        {
          "value": "primary-high",
          "label": "Primary (high contrast)"
        },
        {
          "value": "neutral",
          "label": "Neutral"
        }
      ],
      "default": "primary-low"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "label": "t:common.blocks.collection",
      "settings": [
        {
          "type": "category",
          "id": "collection",
          "label": "t:common.collection.label"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View collection"
        }
      ]
    }
  ]
}
{% endschema %}
