<div section="collections">
  <div class="section-head">
    <h2>Collections</h2>
  </div>
  <ul class="section-core">
    {% render 'collection-block',
      title: 'Woman',
      img: 'https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/categories/965bSPjYdRTzA30Oqav4W3wWQfC0LkpqQ3SdF2MI_lg.jpg'
    %}
    {% render 'collection-block',
      title: 'Man',
      img: 'https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/categories/6FSLi4UY40cEoxuQLwh58CLhdJATbyxmuT4KDgCb_lg.jpg'
    %}
    {% render 'collection-block',
      title: 'Best offers',
      img: 'https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/categories/WhRgVBZgsQmURYFE20oXVrGwgVWoFEuadrrtwKh0_lg.jpg'
    %}
  </ul>
</div>

{% schema %}
{
  "label": "Collections"
}
{% endschema %}
