<div section="collections">
  <div class="section-head">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <ul class="section-core">
    {% for block in section.blocks %}
      {% render 'collection-block', collection: block.settings %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "t:sections.collections.label",
  "templates": ["index", "product"],
  "limit": 3,
  "max_blocks": 3,
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:common.content.title",
      "default": "Collections"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "t:common.spacing.space_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "t:common.spacing.space_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "label": "t:common.blocks.collection",
      "settings": [
        {
          "type": "category",
          "id": "collection",
          "label": "t:common.collection.label"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View collection"
        }
      ]
    }
  ]
}
{% endschema %}
