{% assign faq = 'How long does shipping take?|Shipping typically takes 5–7 business days for domestic orders. International delivery times may vary based on location.;Do you ship internationally?|Yes, we ship to select countries. Additional customs fees or duties may apply depending on your location.;How can I track my order?|Once your order ships, we’ll send you a tracking link via email to monitor its progress.' %}

<div section="faq">
  <div class="section-head">
    <h2>FAQ</h2>
  </div>
  <div class="section-core">
    <div class="media">
      <img
        src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/categories/DoFGcOdYXXGbQXU8A2u7tFVUmHobub7uD2OsQXPX_lg.jpg"
        alt="faq"
        height="100%"
        width="100%"
      >
    </div>
    <div class="content">
      <div class="head">
        <h2 class="title">FAQ</h2>
        <p class="description">
          Welcome to our FAQ page! Here, you'll find answers to the most common questions about our products, shipping, returns, and more.
        </p>
      </div>
      <div class="core">
        {% render 'ui-accordion', name: 'faq', items: faq %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "label": "FAQ"
}
{% endschema %}
