<footer layout="footer">
  <div class="primary-footer">
    <div class="general">
      <div class="store">
        <a href="#" class="logo"> {% render 'ui-icon', name: 'favorite' %} Cameleon </a>
        <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, error.</p>
      </div>
      <div class="copyright">© Made by <a href="http://" target="_blank" rel="noopener noreferrer">YouCan</a></div>
    </div>
    <div class="links">
      <div class="links-box">
        <span>Pages</span>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Best offers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="links-box">
        <span>Help</span>
        <ul>
          <li><a href="#">Faq</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
      <div class="links-box">
        <span>Store</span>
        <ul>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Shop product</a></li>
          <li><a href="#">Shop category</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Blog post</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="secondary-footer"></div>
</footer>

{% schema %}
{
  "label": "Footer"
}
{% endschema %}
