<div>
  Cameleon Theme
  <button ui-button="filled" size="sm">Button</button>
  <button ui-icon-button="standard" size="sm" data-width="default">
    {% render 'ui-icon', name: 'bookmark' %}
  </button>
  <button ui-fab="soft-primary" size="sm">Navigate</button>

  <div ui-button-group="connected" size="xs">
    <button ui-button="filled" ui-button-group-item size="xs">Button</button>
    <button ui-button="filled" ui-button-group-item size="xs">Button</button>
    <button ui-button="filled" ui-button-group-item size="xs">Button</button>
  </div>

  <div ui-split-button>
    <button ui-button="outlined" ui-split-button-item size="xs">Button</button>
    <button ui-button="outlined" ui-split-button-item size="xs">
      {% render 'ui-icon', name: 'keyboard_arrow_down' %}
    </button>
  </div>

  <input ui-radio type="radio" name="fruit">
  <input ui-checkbox type="checkbox" name="book">
</div>

{% schema %}
{
  "label": "Placeholder"
}
{% endschema %}
