<div section="products">
  <div class="section-head">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <ul class="section-core">
    {% if section.settings.collection %}
      {% paginate section.settings.collection.products by 4 id category_id: section.settings.collection.id %}
        {% for item in items -%}
          {% render 'product-block', product: item %}
        {% endfor %}
      {% endpaginate %}
    {% endif %}
  </ul>
</div>

{% schema %}
{
  "label": "Products by collection",
  "templates": ["index", "product"],
  "limit": 3,
  "max_blocks": 24,
  "settings": [
    {
      "type": "category",
      "id": "collection",
      "label": "t:sections.products_by_collection.label"
    },
    {
      "id": "title",
      "type": "text",
      "label": "t:common.content.title",
      "default": "Best Offers"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "t:common.spacing.space_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "t:common.spacing.space_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{% endschema %}
