{{ 'section.related-products.css' | asset_url | stylesheet_tag }}

<div section="related-products">
  <div class="section-head">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <ul class="section-core">
    {% for block in section.blocks %}
      {% render 'block-product', product: block.settings.product, badge: block.settings.badge %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "Related products",
  "templates": ["product"],
  "limit": 3,
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:common.content.title",
      "default": "Related products"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "label": "t:common.blocks.product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:common.collection.label"
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Badge"
        }
      ]
    }
  ]
}
{% endschema %}
