<div section="related-products">
  <div class="section-head">
    <h2>You might like</h2>
  </div>
  <ul class="section-core">
    {% render 'product-block',
      title: 'Backpack With Foldover Flap',
      img: 'https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/D3ZXxSPPWFqnmAqkpZCX8TEflayHPydxLMUEMxWn_md.jpg',
      badge: true
    %}
    {% render 'product-block',
      title: 'Fabric Multi-Pocket Backpack',
      img: 'https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/XDIRXrNbH0IWqxHjUQB6OIyeSVy7LD23M6GrcDDS_md.jpg'
    %}
    {% render 'product-block',
      title: 'Fabric Multi-Pocket Backpack',
      img: 'https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/FEW5kx6LGNBKKUhpPwCqTYjrY5ciQmUnLEnpwZ8J_md.jpg',
      compare_at_price: true
    %}
    {% render 'product-block',
      title: 'Technical Sports Backpack',
      img: 'https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/sbZLw8j0k8SsFDp8SGNCECMdKHEfVpFUO9jl1Jnn_md.jpg'
    %}
  </ul>
</div>

{% schema %}
{
  "label": "Related Products"
}
{% endschema %}
