<div section="related-products">
  <div class="section-head">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <ul class="section-core">
    {% for block in section.blocks %}
      {% render 'product-block', product: block.settings.product, badge: block.settings.badge %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "Related products",
  "templates": ["index", "product"],
  "limit": 3,
  "max_blocks": 24,
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "label": "t:common.blocks.product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:common.collection.label"
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Badge"
        }
      ]
    }
  ]
}
{% endschema %}
