<div section="single-collection">
  <div class="collection-head">
    <h2 class="title">{{ category.name }}</h2>
    {% if category.description %}
      <p class="description">{{ category.description }}</p>
    {% endif %}
  </div>
  <div class="collection-path">
    <a href="/" ui-button data-variant="secondary" data-size="lg" as-icon aria-label="home">
      {% render 'ui-icon', name: 'home' %}
    </a>
    <a href="/collections" ui-button data-variant="secondary" data-size="lg">
      Collections
      {% render 'ui-icon', name: 'arrow_right_alt' %}
    </a>
    <a href="/collections/{{ category.slug }}" ui-button data-variant="secondary" data-size="lg">
      {{ category.name }}
      {% render 'ui-icon', name: 'arrow_right_alt' -%}
    </a>
  </div>
  <ul class="collection-products">
    {% paginate collection.products by 24 cod, category_id: category.id %}
      {% for product in items %}
        {% render 'product-block', product: product %}
      {% endfor %}
    {% endpaginate %}
  </ul>
</div>

{% schema %}
{
  "label": "Single Collection"
}
{% endschema %}
