<div section="single-collection">
  <div class="collection-head">
    <h2 class="title">{{ category.name }}</h2>
    {% if category.description %}
      <p class="description">{{ category.description }}</p>
    {% endif %}
  </div>
  <div class="collection-path">
    <a href="/" ui-button data-variant="secondary" data-size="lg" as-icon aria-label="home">
      {% render 'ui-icon', name: 'home' %}
    </a>
    <a href="/collections" ui-button data-variant="secondary" data-size="lg">
      Collections
      {% render 'ui-icon', name: 'arrow_right_alt' %}
    </a>
    <a href="/collections/{{ category.slug }}" ui-button data-variant="secondary" data-size="lg">
      {{ category.name }}
      {% render 'ui-icon', name: 'arrow_right_alt' -%}
    </a>
  </div>

  {% paginate collection.products by 24 cod, category_id: category.id %}
    <div class="collection-core">
      {% if items.size > 0 %}
        <ul class="collection-products">
          {% for product in items %}
            {% render 'product-block', product: product %}
          {% endfor %}
        </ul>
        {% render 'ui-pagination', next_page_url: next_page, previous_page_url: previous_page, current: current, last: last, terms: terms %}
      {% else %}
        {% render 'ui-empty', content: 'No results found (;-;)' %}
      {% endif %}
    </div>
  {% endpaginate %}
</div>

{% schema %}
{
  "label": "Single Collection"
}
{% endschema %}
