{{ 'slideshow.section.js' | asset_url | script_tag_deferred }}

<ui-slideshow section="slideshow">
  <div class="slideshow-wrapper">
    <ul class="wrapper-box">
      {% render 'slideshow-block' %}
      {% render 'slideshow-block' %}
      {% render 'slideshow-block' %}
    </ul>
  </div>
  <div class="slideshow-arrows">
    <button aria-label="previous">
      {% render 'ui-icon', name: 'chevron_left', size: 34 %}
    </button>
    <button aria-label="next">
      {% render 'ui-icon', name: 'chevron_right', size: 34 %}
    </button>
  </div>
  <div class="slideshow-pagination">
    {% for index in (1..3) %}
      <button
        aria-label="scroll to {{ index }}"
        {% if index == 1 %}
          aria-selected="true"
        {% else %}
          aria-selected="false"
        {% endif %}
      ></button>
    {% endfor %}
  </div>
</ui-slideshow>

{% schema %}
{
  "label": "Slideshow"
}
{% endschema %}
