@import url("./_tokens.css");
@import url("./button.ui.css");
@import url("./icon-button.ui.css");
@import url("./fab.ui.css");
@import url("./button-group.ui.css");
@import url("./split-button.ui.css");
@import url("./radio.ui.css");
@import url("./checkbox.ui.css");
@import url("./radio.ui.css");
@import url("./switch.ui.css");
@import url("./divider.ui.css");
@import url("./select.ui.css");
@import url("./side-sheet.ui.css");
@import url("./snackbar.ui.css");
@import url("./text-field.ui.css");
@import url(".toolbar/.ui.css");
@import url(".tooltip/.ui.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

body {
  font: var(--font-body-md);
  color: var(--color-on-background);
  background-color: var(--color-background);
}

[ui-icon] {
  font-size: var(--icon-size);

  &[filled] {
    font-variation-settings:
      "FILL" 1,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
}
