@import url("./_tokens.css");
@import url("./_layout.css");
@import url("./_misc.css");

@import url("./section.slideshow.css");
@import url("./section.benefits.css");
@import url("./section.socials.css");
@import url("./section.collections.css");
@import url("./section.products.css");
@import url("./section.about-us.css");
@import url("./section.faq.css");
@import url("./section.single-product.css");
@import url("./section.all-collections.css");
@import url("./section.single-collection.css");
@import url("./section.cart.css");
@import url("./section.thankyou.css");
@import url("./section.product-details.css");
@import url("./section.related-products.css");
@import url("./section.product-reviews.css");
@import url("./section.page.css");
@import url("./section.search.css");

@import url("./ui.search.css");
@import url("./misc.variants.css");
@import url("./ui.accordion.css");
@import url("./ui.drawer.css");
@import url("./core.express-checkout.css");
@import url("./ui.whatsapp.css");
@import url("./misc.add-review.css");
@import url("./ui.pagination.css");
@import url("./ui.toast.css");

@import url("./block.social.css");
@import url("./block.product.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

body {
  font: var(--font-body-md);
  color: var(--color-on-background);
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--spacing-12);

  & > [layout="main"],
  & > #youcan-section--header,
  & > #youcan-section--footer {
    width: 100%;
  }

  & > [layout="main"] {
    flex: 2;
    display: flex;
    gap: var(--spacing-12);
    flex-direction: column;
  }

  &[data-theme-mode="dark"],
  &:has(ui-theme > input:checked) {
    color-scheme: dark;

    [data-invert] {
      filter: invert(1);
    }
  }
}

ul {
  list-style: none;
}

.section-head {
  text-align: center;
  padding: var(--spacing-16);
  border-radius: var(--radius-md);
  background-color: var(--color-surface-container-low);

  h2 {
    font: var(--font-title-md);
  }
}
