@import url("./_tokens.css");
@import url("./_layout.css");
@import url("./_misc.css");

@import url("./slideshow.section.css");
@import url("./benefits.section.css");
@import url("./socials.section.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

body {
  font: var(--font-body-md);
  color: var(--color-on-background);
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--spacing-12);

  & > [layout="main"],
  & > #youcan-section--header,
  & > #youcan-section--footer {
    width: 100%;
  }

  & > [layout="main"] {
    flex: 2;
    display: flex;
    gap: var(--spacing-12);
    flex-direction: column;
  }
}

ul {
  list-style: none;
}
