[ui-checkbox] {
  --checkbox-size: 18px;
  --checkbox-offset: calc(var(--checkbox-size) / 3);

  cursor: pointer;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: var(--checkbox-offset);
  outline-offset: 10px;
  outline: 10px solid transparent;
  background-color: transparent;
  border-radius: var(--radius-xs);
  border: 2px solid var(--color-on-surface-variant);
  transition: var(--transition-standard-fast-effects);

  &::before {
    content: "";
    position: absolute;
    inset-block-start: 50%;
    left: 50%;
    width: calc(var(--checkbox-size) / 5);
    height: calc(var(--checkbox-size) / 4);
    border-right: 2px solid transparent;
    border-block-end: 2px solid transparent;
    transform: translate(-50%, -60%) rotate(45deg);
    transition: var(--transition-standard-slow-effects);
  }

  &::after {
    inset: 0;
    scale: 3;
    opacity: 0;
    position: absolute;
    border-radius: var(--radius-circled);
    background-color: color-mix(in srgb, var(--color-on-surface) 8%, transparent);
  }

  &:hover:not(:checked, :indeterminate, :disabled) {
    border-color: var(--color-on-surface);
  }

  &:active,
  &:hover:not(:disabled)::after {
    content: "";
    animation: input-ripple var(--transition-standard-default-effects) forwards;

    &:active::after {
      background-color: color-mix(in srgb, var(--color-on-surface) 12%, transparent);
    }
  }

  &:checked,
  &:indeterminate {
    border-color: transparent;
    background-color: var(--color-primary);

    &::before {
      height: calc(var(--checkbox-size) / 2);
      border-color: var(--color-on-primary);
    }

    &:indeterminate::before {
      height: 0;
      width: 80%;
      border-inline-end: none;
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  &:disabled {
    pointer-events: none;
    border-color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);

    &:checked,
    &:indeterminate {
      border-color: transparent;
      background-color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);

      &::before {
        border-color: var(--color-surface);
      }
    }
  }

  &:focus-visible {
    animation: focus var(--transition-standard-slow-spatial) forwards;
  }
}
