[ui-dialog-portal] {
  z-index: 9999;
  position: fixed;
  left: 50%;
  translate: -50% -50%;
  border-radius: var(--radius-xl);
  background-color: var(--color-surface-container-high);
  display: grid;
  animation: var(--transition-expressive-slow-spatial) forwards;

  &[data-closed="false"] {
    animation-name: dialog-fade-in;
  }

  &[data-closed="true"] {
    animation-name: dialog-fade-out;
  }

  [ui-dialog-content] {
    overflow: hidden;

    [ui-dialog-header] {
      display: grid;
      padding: var(--spacing-24);
      padding-block-end: var(--spacing-0);

      & > [ui-icon] {
        color: var(--color-secondary);
      }

      [ui-dialog-headline] {
        font: var(--font-headline-sm);
        color: var(--color-on-surface);
      }

      [ui-dialog-supporting] {
        text-align: start;
        font: var(--font-body-md);
        color: var(--color-on-surface-variant);
        padding-block-start: var(--spacing-24);
      }

      &[data-divider] {
        border-block-end: 1px solid var(--color-outline-variant);

        [ui-dialog-supporting] {
          padding-block-end: var(--spacing-8);
        }
      }

      &:has(> [ui-icon]) {
        text-align: center;

        [ui-dialog-headline] {
          padding-block-start: var(--spacing-16);
        }
      }
    }

    [ui-dialog-body] {
      padding: var(--spacing-24);
    }
  }

  @media (max-width: 769px) {
    width: calc(100% - var(--spacing-48));

    [ui-dialog-content] {
      width: inherit !important;
    }
  }
}

[ui-dialog-overlay] {
  inset: 0;
  z-index: 9998;
  position: fixed;
  background-color: var(--color-overlay);
}

@keyframes dialog-fade-in {
  from {
    opacity: 0;
    inset-block-start: 40%;
    grid-template-rows: 0.5fr;
  }
  to {
    opacity: 1;
    inset-block-start: 50%;
    grid-template-rows: 1fr;
  }
}

@keyframes dialog-fade-out {
  from {
    opacity: 1;
    inset-block-start: 50%;
    grid-template-rows: 1fr;
  }
  to {
    opacity: 0;
    inset-block-start: 40%;
    grid-template-rows: 0.5fr;
  }
}
