[ui-fab] {
  cursor: pointer;
  width: max-content;
  position: relative;
  border: none;
  outline-offset: 1px;
  outline: 10px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fab-color);
  background-color: var(--fab-bg);
  transition: var(--transition-standard-fast-effects);
  box-shadow: var(--shadow-2);
  background-repeat: no-repeat;
  background-position: center;

  &[ui-fab="primary"] {
    --fab-bg: var(--color-primary);
    --fab-color: var(--color-on-primary);
  }

  &[ui-fab="secondary"] {
    --fab-bg: var(--color-secondary);
    --fab-color: var(--color-on-secondary);
  }

  &[ui-fab="tertiary"] {
    --fab-bg: var(--color-tertiary);
    --fab-color: var(--color-on-tertiary);
  }

  &[ui-fab="soft-primary"] {
    --fab-bg: var(--color-primary-container);
    --fab-color: var(--color-on-primary-container);
  }

  &[ui-fab="soft-secondary"] {
    --fab-bg: var(--color-secondary-container);
    --fab-color: var(--color-on-secondary-container);
  }

  &[ui-fab="soft-tertiary"] {
    --fab-bg: var(--color-tertiary-container);
    --fab-color: var(--color-tertiary-on-container);
  }

  &[size="sm"] {
    height: 56px;
    gap: var(--spacing-8);
    padding-inline: var(--spacing-16);
    font: var(--font-label-lg);
    border-radius: var(--radius-lg);

    & > [ui-icon] {
      font-size: 24px;
    }
  }

  &[size="md"] {
    height: 80px;
    gap: var(--spacing-12);
    padding-inline: calc(var(--spacing-24) + var(--spacing-2));
    font: var(--font-title-md);
    border-radius: var(--radius-lg-inc);

    & > [ui-icon] {
      font-size: 28px;
    }
  }

  &[size="lg"] {
    height: 96px;
    padding-inline: var(--spacing-48);
    gap: var(--spacing-12);
    font: var(--font-headline-sm);
    border-radius: var(--radius-xl);

    & > [ui-icon] {
      font-size: 36px;
    }
  }

  &:hover {
    box-shadow: var(--shadow-3);
    background-color: color-mix(in srgb, currentColor 8%, var(--fab-bg));
  }

  &:active {
    background-image: var(--ripple-circle);
    animation: button-ripple var(--transition-expressive-default-spatial) forwards;
  }

  &:focus-visible {
    animation: focus var(--transition-standard-slow-spatial) forwards;
  }

  &:disabled {
    --fab-bg: color-mix(in srgb, var(--color-on-surface) 10%, transparent);
    --fab-color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
    box-shadow: none;
    pointer-events: none;
  }
}
