[section="products"] {
  display: grid;
  gap: var(--spacing-12);
  grid-template-columns: repeat(4, 1fr);

  [block="product"] {
    overflow: hidden;
    position: relative;
    height: 450px;
    border-radius: var(--radius-md);

    & > a {
      color: var(--color-on-background);

      img {
        object-fit: cover;
        transition: var(--transition-standard-default-effects);
      }

      .info {
        position: absolute;
        inset-block-end: var(--spacing-12);
        inset-inline-start: var(--spacing-12);
        background-color: var(--color-background);
        transform: translateY(calc(100% + var(--spacing-12)));
        border-radius: var(--radius-md);
        width: calc(100% - var(--spacing-24));
        padding: calc(var(--spacing-24) - var(--spacing-4));
        display: flex;
        align-items: center;
        gap: var(--spacing-8);
        justify-content: space-between;
        transition: var(--transition-standard-slow-effects);

        .action {
          text-decoration: underline;
          text-underline-offset: var(--spacing-4);
        }
      }

      .price {
        position: absolute;
        border-radius: var(--radius-md);
        inset-block-start: var(--spacing-12);
        inset-inline-start: var(--spacing-12);
        background-color: var(--color-background);
        padding: var(--spacing-8) var(--spacing-12);
      }

      .badge {
        position: absolute;
        font: var(--font-body-sm);
        border-radius: var(--radius-xs);
        inset-block-start: var(--spacing-12);
        inset-inline-end: var(--spacing-12);
        color: var(--color-background);
        background-color: var(--color-on-background);
        padding: var(--spacing-6) var(--spacing-8);
      }

      &:hover {
        img {
          filter: blur(5px);
        }

        .info {
          transform: translateY(0%);
        }
      }
    }
  }
}
