[ui-select] {
  position: relative;

  [ui-select-trigger] {
    width: 100%;
    height: 56px;
    outline-offset: -3px;
    outline: 3px solid transparent;
    color: var(--color-on-surface);
    border-radius: var(--radius-xs);
    padding: var(--spacing-4) var(--spacing-16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition-standard-default-effects);

    [ui-select-value] {
      font: var(--font-body-lg);
    }

    &[aria-expanded="true"] {
      & > [ui-icon] {
        rotate: 180deg;
        color: var(--color-primary);
      }
    }

    &:disabled {
      color: color-mix(in srgb, currentColor 12%, transparent);
      border-color: color-mix(in srgb, var(--color-on-surface) 12%, transparent) !important;
    }
  }

  [ui-select-portal] {
    width: 100%;
    z-index: 9999;
    position: absolute;
    display: grid;
    animation: var(--transition-standard-slow-spatial) forwards;

    &[data-closed="false"] {
      animation-name: select-fade-in;

      [ui-select-content] {
        padding-block: var(--spacing-8);
      }
    }

    &[data-closed="true"] {
      animation-name: select-fade-out;

      [ui-select-content] {
        padding-block: var(--spacing-0);
      }
    }

    [ui-select-content] {
      display: grid;
      overflow: hidden;
      border-radius: var(--radius-xs);
      background-color: var(--color-surface-container);
      box-shadow: var(--shadow-2);
      transition: padding-block var(--transition-standard-fast-spatial);

      [ui-select-option] {
        border: none;
        height: 56px;
        cursor: pointer;
        outline-offset: -3px;
        outline: 3px solid transparent;
        text-align: start;
        font: var(--font-body-lg);
        background-color: transparent;
        padding: var(--spacing-4) var(--spacing-16);

        &[aria-selected="true"] {
          color: var(--color-primary);
          background-color: var(--color-secondary-container);
        }

        &:hover:not(:disabled),
        &:focus {
          &[aria-selected="false"] {
            background-color: var(--color-surface-container-highest);
          }

          &[aria-selected="true"] {
            background-color: color-mix(in srgb, currentcolor 12%, transparent);
          }
        }

        &:disabled {
          pointer-events: none;
          color: color-mix(in srgb, currentColor 12%, transparent);
        }
      }
    }
  }

  &[ui-select="outlined"] {
    [ui-select-trigger] {
      background-color: transparent;
      border: 1px solid var(--color-outline);

      &:hover {
        border-color: inherit;
      }

      &:focus {
        border-color: transparent;
        outline-color: var(--color-primary);
      }
    }
  }

  &[ui-select="filled"] {
    [ui-select-trigger] {
      border: none;
      border-end-end-radius: var(--spacing-0);
      border-end-start-radius: var(--spacing-0);
      border-block-end: 1px solid var(--color-outline);
      background-color: var(--color-surface-container-high);

      &:hover {
        border-color: inherit;
        background-color: var(--color-surface-container-highest);
      }

      &:focus {
        border-color: var(--color-primary);
        box-shadow: inset 0 -2px 0 0 var(--color-primary);
      }
    }
  }
}

@keyframes select-fade-in {
  from {
    grid-template-rows: 0fr;
  }
  to {
    grid-template-rows: 1fr;
  }
}

@keyframes select-fade-out {
  from {
    grid-template-rows: 1fr;
  }
  to {
    grid-template-rows: 0fr;
  }
}
