[section="single-product"] {
  display: grid;
  gap: var(--spacing-12);
  grid-template-columns: 60% auto;
  height: 85vh;
  overflow: hidden;

  /* Content */
  [block="pd-content"] {
    .general-info {
      padding: var(--spacing-48);
      border-radius: var(--radius-md);
      background-color: var(--color-surface-container-low);
      display: grid;
      gap: calc(var(--spacing-48) - var(--spacing-8));

      .price {
        font: var(--font-body-lg);
      }

      .about {
        display: grid;
        gap: var(--spacing-8);

        .title {
          font: var(--font-display-sm);
        }

        .subtitle {
          opacity: 0.7;
          font: var(--font-body-lg);
        }
      }
    }
  }

  /* Media */
  [block="pd-media"] {
    position: relative;
    border-radius: var(--radius-md);
    overflow: hidden scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    .images {
      img {
        width: 100%;
        height: 85vh;
        object-fit: cover;
        scroll-snap-align: center;
        scroll-snap-stop: always;
      }
    }

    .controller {
      position: sticky;
      inset-block-end: var(--spacing-24);
      display: flex;
      justify-content: center;

      .controller-wrapper {
        width: fit-content;
        padding: var(--spacing-8);
        border-radius: var(--radius-md);
        background-color: var(--color-background);
        display: flex;
        align-items: center;
        gap: var(--spacing-4);

        & > button {
          border: 0;
          outline: 0;
          width: 60px;
          height: 60px;
          cursor: pointer;
          overflow: hidden;
          border-radius: var(--radius-sm);
          box-shadow: inset 0 3px 3px #0000001a;
          transition: var(--transition-standard-default-effects);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &[aria-selected="false"] {
            opacity: 0.5;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
