[section="slideshow"] {
  height: 720px;
  display: -webkit-inline-flex;
  position: relative;

  /* Slides */
  .slideshow-wrapper {
    overflow: hidden;
    border-radius: var(--radius-lg);

    .wrapper-box {
      height: 100%;
      display: flex;
      position: relative;
      inset-inline-start: 0px;
      transition: 0.6s;

      [block="slideshow-slide"] {
        min-width: 100%;
        position: relative;

        img {
          object-fit: cover;
          user-select: none;
          pointer-events: none;
        }

        .content {
          max-width: 30%;
          position: absolute;
          inset-inline-start: var(--spacing-24);
          inset-block-end: var(--spacing-24);
          border-radius: var(--radius-lg);
          background-color: var(--color-background);
          padding: calc(var(--spacing-48) - var(--spacing-8));
          display: grid;
          gap: var(--spacing-24);

          .text {
            display: grid;
            gap: var(--spacing-8);

            .title {
              font: var(--font-headline-lg);
            }

            .description {
              text-wrap: balance;
              font: var(--font-body-lg);
              color: var(--color-on-surface-variant);
            }
          }

          .action {
            color: inherit;
          }
        }
      }
    }
  }

  /* Arrows */
  .slideshow-arrows {
    left: 50%;
    position: absolute;
    translate: -50% -50%;
    inset-block-start: 50%;
    display: flex;
    justify-content: space-between;
    width: calc(100% - var(--spacing-48));

    & > button {
      border: none;
      outline: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border-radius: var(--radius-sm);
      color: var(--color-background);
      background-color: var(--color-overlay);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition-standard-default-effects);

      &:active {
        scale: 0.95;
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  /* Pagination */
  .slideshow-pagination {
    left: 50%;
    position: absolute;
    translate: -50% -50%;
    inset-block-end: var(--spacing-24);
    display: flex;
    overflow: hidden;
    border-radius: var(--radius-rounded);
    background-color: var(--color-overlay);

    & > button {
      width: 20px;
      height: 30px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child,
      &:last-child {
        width: 25px;
      }

      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        clip-path: circle();
        opacity: 0.5;
        background-color: var(--color-background);
      }

      &[aria-selected="true"]::before {
        opacity: 1;
      }
    }
  }
}
