[section="socials"] {
  display: grid;
  gap: var(--spacing-12);
  grid-template-columns: repeat(4, 1fr);
}

/* Responsive */
@media (max-width: 769px) {
  [section="socials"] {
    grid-template-columns: repeat(2, 1fr);
  }
}
